* {
    box-sizing: border-box;
    /* border: 1px solid; */
    transition: 200ms;
}

.container-section {
    overflow-y: auto;

    height: calc(100vh - 6rem);
}


.section{
    display: flex;
    
    flex-flow: row wrap;
    padding: 2rem;

    gap: 2rem;
}

.card {
    position: relative;

    box-shadow: 1px 1px 10px rgba(0,0,0, 0.2);
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);

}
.card:hover::before {
    content: 'Presiona para inspeccionar';

    position: absolute;
    top: 0rem;
    right: 0rem;   

    background: #fff;
    padding: 0.3rem;

    
}

.title-body {
    display: flex;
    justify-content: space-between; 
    padding: 0.3rem 0;
}
.video{
    width: 50rem;
    height: 45rem;
}

.card-img-top {
    width: 17.9rem;
    height: 17.9rem;

    object-fit: contain;
}

#cap{    
    border: 1.8px solid #86b7fe;
    margin: 1rem;
}
#cap:hover {
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}
.modal-footer #clos{
    background-color: rgb(214, 208, 208);
    color: black;
    /* rgb(212, 206, 206); */
}
.modal-footer #clos:hover{
    background-color: rgb(95, 95, 95);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}
#save{
    background-color: white;
    color: black;
}
.modal-footer #save:hover{
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}

#sub{
    background-color: white;
    color: black;
}

#sub:hover{
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}

#reg{
    border: 1px solid blue;
    margin: 1rem;
}
#reg:hover{
    background-color: blue;
    color: white;
}