* {
    transition: 200ms all ease-in-out;
    /* font-family: "San Francisco"; */
    box-sizing: content-box;
}



.navbar {
    background-color: #fff;
}



.container-body {
    margin: 0 auto;
    /* max-width: 1300px; */
    display: grid;
    grid-template-columns: 4rem auto;
    gap: 1rem;
}


.navbar {
    background: none !important;
    box-shadow: none !important;    
}

.navbar #btn-menu {
    display: none;
}
.container-fluid{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 0.5rem;
}
.container-fluid h4 {
    margin:0 !important;
    padding: 0 !important;
    color: blue;
    font-weight: bold;
    font-size: 32px;
}
.container-fluid div {
    display: flex;
    flex-flow: row;
}
.icon-nav{
    background: #fff;
    border-radius: 15px;
    padding: 0.5rem;
    margin-left: 1rem;
    box-shadow: 1px 1px 7px rgba(171, 178, 185, 0.4);
}

.container-section { 
    border-radius: 10px;
    overflow-y: auto;
}

.aside {
    position: relative;
    height: 100vh;

    background-color: #0f172b;
    display: flex;
    flex-flow: column;

    border-radius: 10px;
    padding: 0 0.5rem;
}

.aside #close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
}
.aside #close:hover{
    cursor: pointer;
}

.logo {
    margin-bottom: 3rem;
}

.body-aside ul {
    margin: 0;
    padding: 0;
    height: max-content;
}


.body-aside ul li {
    list-style: none;
}

.body-aside ul li span {
    color: #fff;
    font-size: 25px;
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;

    border-radius: 10px;
}

.body-aside ul li span:hover {
    color: #0f172b;
    font-weight: 600;
    background-color: rgb(255,255,255);
}

.rotes {
    text-decoration: none;    
    /* color: #ABB2B9; */
}

.body-aside ul li .rotes {
    list-style: none;
    padding-top: 0.8rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}


.title-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.account-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-logo:hover {
    cursor: pointer;
}

.account-logo img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin: 0 0.5rem;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


@media (max-width: 1000px){

    #aside-app {
        z-index: 10;
        position: absolute;
        min-width: 16rem;
        transform: scale(0);
    }
    .container-body {
        grid-template-columns: auto;
    }
    .aside #close, 
    .navbar #btn-menu {
        display: block;
    }
}

@media (max-width: 500px) {

}
    







@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("../../../fonts/GOTHIC.TTF");
  }