* {
    transition: 100ms all ease-in-out;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
}

.section h2 {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    /* justify-content: center; */
    padding-left: 34%;
}

.container-body {
    display: grid;
    grid-template-columns: auto 16rem;
    gap: 1rem;
}

.body {
    width: 900px;
    height: calc(100vh - 9rem);
    border-radius: 10px;
    background: #fff;
    padding: 2rem 0.5rem;
    overflow-y: auto;
    margin:auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    margin: 0 0.5rem;
}

.cards>b {

    width: 12rem;
    margin-right: 4rem;
    padding: 1rem 0;
}

.cards>p {
    padding: 1rem 0;
}

.body-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 10px;
}

.rotes,
.buttons span {
    text-decoration: none;
    color: #979ea5;
}

.buttons,
.rotes {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons button {
    border: none;
    background: none;
}

.buttons {
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
    border: 1px solid #86b7fe;
}

.buttons:hover {
    cursor: pointer;
}

.buttons:hover {
    background: #86b6fe54;
}

.body-aside img {
    width: 7rem;
}

.form-body {
    background: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}

.form-body button {
    border-radius: 10px;
    border: 1.2px solid #86b7fe;
    padding: 0.5rem 1.3rem;
}

.form-body button:hover {
    background-color: rgba(0, 0, 255, 0.849);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}
.buttons:target {
    border: 1px solid blue;
}
.mb-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

input {
    width: 400px;

    padding: 0.5rem;
    text-align: right;
}


@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

.botton {
    color: red;
}

@media (max-width: 700px) {

    .profile {
        display: none;
    }

    .container-body {
        display: flex;
        flex-direction: column;
    }

    .body-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .buttons button {
        display: none;
    }

    .buttons {
        width: max-content;
        text-align: center;
    }
}

