* {
    transition: 100ms all ease-in-out;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
}

.section h2 {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
}

.container-body {
    display: grid;
    grid-template-rows: 3rem auto;
    gap: 1rem;
}

.body {
    height: calc(90vh - 9rem);
    border-radius: 10px;
    background: #fff;
    padding: 0.5rem;
    overflow-y: auto;
}

.body-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 10px;
}

.rotes,
.buttons span {
    text-decoration: none;
    color: #979ea5;
}

.buttons,
.rotes {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons button {
    border: none;
    background: none;
}

.buttons {
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
}

.buttons:hover {
    cursor: pointer;
}

.buttons:hover {
    background: rgba(255, 255, 0, 0.1);
}

.body-aside img {
    width: 7rem;
}

.form-body {
    background: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}
    
.buttons:target {
    border: 1px solid blue;
}

@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}



@media (max-width: 700px) {

    .profile {
        display: none;
    }

    .container-body {
        display: flex;
        flex-direction: column;
    }

    .body-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .buttons button {
        display: none;
    }

    .buttons {
        width: max-content;
        text-align: center;
    }
}