* {
    box-sizing: border-box;
    /* border: 1px solid; */
    transition: 200ms;
}
button{
    padding: 2rem;
    width: max-content;
}
.container-section {
    display: flex;

    flex-flow: row wrap;
    padding: 2rem;

    gap: 2rem;
}

.section{
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;

    box-shadow: 1px 1px 10px rgba(0,0,0, 0.2);
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);

}
.card:hover::before {
    content: 'Presiona para inspeccionar';

    position: absolute;
    top: 0rem;
    right: 0rem;   

    background: #fff;
    padding: 0.3rem;

    
}

.title-body {
    display: flex;
    justify-content: space-between;

    padding: 0.3rem 0;
}
.video{

    width: 40rem;
    height: 40rem;
}