* {
    transition: 200ms;
}

.container-home {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    /* padding: 3rem; */

    background-color: #ffffff;

    overflow: auto;
}

.navbar {
    max-width: 1400px;
    margin: auto;
}

.nav-profile {
    display: flex;
    align-items: center;
}

.nav-profile>img {
    width: 2rem;
    border-radius: 100%;
}

.nav-profile>p {
    margin: 0 1rem;

}

.navbar-brand {
    font-size: 40px;
}

.navbar-brand b {
    color: #000;
    font-size: 40px;
}

.main {
    max-width: 1400px;
    margin: auto;

    padding: 1.3rem;
    border-radius: 20px;

    background-color: #f3f5f7;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 2rem;
}

.title {
    max-width: 1400px;
    height: 55%;
    padding: 3rem;

    color: #000;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.title>h1 {
    text-shadow: 0 0 8px #fff;
    font-size: 4vw;
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
}

.title>p {
    width: 30rem;
}

.img-header {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.card-home {
    border-radius: 10px;
    background-color: #f3f5f7;

    width: 13vw;
    height: 8rem;

    padding: 1rem;

    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr;
}

.card-home:hover {
    cursor: pointer;

    transform: scale(1.04);

    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 2rem;
}

.header-button {
    display: flex;

    align-items: center;

}

.search {
    position: relative;

    padding: 0 1rem;
}

.close-search {
    position: absolute;

    top: 0.6rem;
    right: 1.5rem;
}

.close-search:hover {
    cursor: pointer;

    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.input-search {
    width: 15rem;

    outline: none;
    padding: 0.5rem 1rem;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cont {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action {
    display: flex;
}

.icon {
    width: max-content;
    margin: 0.3rem;
    padding: 0.3rem;

    border-radius: 10px;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    color: #fff;

    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.icon:hover {
    cursor: pointer;

    transform: scale(1.1);
}

/* .img-home{

    width: 3rem;
    height: 3rem;

    border-radius: 100%;

    background-color: palevioletred;

    display: flex;
    align-items: center;
    justify-content: center;
} */

.icon-home {
    color: #c47474;  
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);

    font-size: 3vw;
}

.card-content>h4 {
    font-size: 1.4vw;
}

.rotes {
    color: black;
    text-decoration: none;
    width: 20;
}


.gris {
    background-color: #a7a7a7;
}

.red {
    background-color: #f35f5f;

}

.azul {
    background-color: #0d6efd;
}