* {
    transition: 200ms;
}

.container-home {
    position: absolute;
    top: 0;
    left: 0;
    
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    padding: 2rem;
    
}

.main {
    max-width: 1200px;
    margin: auto;
}

.card-home {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    width: 18rem;
    height: 14rem;

    padding: 1rem;
}

.card-home:hover {
    cursor: pointer;

    transform: scale(1.01);
}

.img-home{
    width: 5rem;
    height: 5rem;

    border-radius: 100%;

    background-color: palevioletred;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-home {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(255 , 255, 255, 0.3);
    
    font-size: 4rem;
}