* {
    transition: 100ms all ease-in-out;

}

.section {
    display: flex;
    flex-direction: column;
}

.section h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(171, 178, 185, 0.3);
}
.container-body {
    display: grid;
    grid-template-columns: auto 16rem;
    gap: 1rem;
}

.body {
    padding: 0.5rem;
}

.body-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(171, 178, 185, 0.3);
    gap: 0.5rem;
    padding: 0.5rem;
}

.rotes, .buttons span {
    text-decoration: none;
    color: #979ea5;
}

.buttons, .rotes {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons button {
    border: none;
    background: none;
}

.buttons {
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
}

.buttons:hover {
    background: rgba(255, 255, 0, 0.1);
}

.body-aside img {
    width: 7rem;
}


@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}